<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Houston Transit and Opportunity</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700;800&family=Plus+Jakarta+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <main>
    <div class="map-container">
      <div class="map" id="map"></div>
    </div>
    <div class="legend" id="legend" aria-live="polite" hidden></div>
    <section class="slide-section">

      <article class="slide" id="intro">
        <h1>Who can reach life's necessities?</h1>
        <p>In 2015, Houston METRO redrew its bus map, prioritizing a more efficient grid system. In a city that is very vehicle-centric and sprawled, proximity to basic necessities, such as job access, grocery availability, and childcare options, is crucial.</p>
      </article>

    </section>
  </main>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="js/index.js" type="module"></script>
</body>
</html>